*.tar.gz
*.exe
*.dll
*.do
*.o
*.so*
*.a
*.dll
*.dylib
*.dSYM
*.out
*.new
*.lps
*.bkm
/docs/
/tmp/
UTF-8
/__pycache__
/backup/
/lib/
/bin/
DerivedCoreProperties.txt
EastAsianWidth.txt
HangulSyllableType.txt
UnicodeData.txt

